.navigation {
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
  
    margin: 0.3%;
  
    border-style: solid;
    border-width: 1px;
  
    border-radius: 10px;
  
    border-color: #3d3d3d;
  
    background-color: #b9a99d;
  }
  
  .page {
    color: #3d3d3d;
    background-color: #d5c4b7;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #d5c4b7;
    border-color: #3d3d3d;
  
    border-bottom-width: 1px;
    border-bottom-style: none;
    
    margin: 0;
    padding: 0;
  
    display: flex;
  }
  
  .pageContainer {
    background-color: #b9a99d;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    border-style: none;
    border-color: #3d3d3d;
    border-width: 1px;
    border-radius: 24px;
    
    background-color: #e3d4c8;
    margin: 2%;
    padding: 2%;
  
    width: 70%;
  }

  .dataCell {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: #3d3d3d;
  
      color: #3d3d3d;
  
      margin: 1%;
      padding: 1%;
  }

.panelHead {
  size: 36px;
}

.sectnContent {
    display: flex;
}

.sectnHead {
    font-size: 16px;
}