.navigation {
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
  
    margin-left: 0.5%;
    margin-right: 0.5%;
  
    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  
    border-color: #3d3d3d;
  
    background-color: #efe3da;
  }
  
  .page {
    background-color: #d5c4b7;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #d5c4b7;
    border-color: #3d3d3d;
  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    margin: 0;
    padding: 0;
  
    display: flex;
  }
  
  .pageContainer {
    background-color: #d5c4b7;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    border-style: solid;
    border-color: #3d3d3d;
    border-width: 1px;
    border-radius: 24px;
    
    background-color: #efe3da;
    margin: 3%;
    padding: 2%;
  
    width: 80%;
  }

  .dataCell {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: #3d3d3d;
  
      color: #3d3d3d;
  
      margin: 3%;
      padding: 1%;
  }
  
  .panelHead {
    size: 36px;
  }

.miniData {
    border-left-style: solid;
    border-color: #3d3d3d;
    border-width: 1px;

    margin: 2%;
    padding: 1%;
}

.sectnContent {
    display: flex;
}

.sectnHead {
    font-size: 16px;
}